* {
  margin: 0;
  padding: 0;
  cursor: url(../img/cusor.ico), auto;
}
@font-face {
  font-family: my_font;
  src: url('../font/字魂27号-布丁体.ttf');
}
* {
  font-family: my_font !important;
}
@media screen and (min-width: 500px) {
  html {
    font-size: 24px;
  }
}
@media screen and (min-width: 300px) and (max-width: 500px) {
  html {
    font-size: 16px;
  }
}

body {
  position: relative;
  height: 100vh;
  background: rgb(180, 223, 243);
  overflow: hidden;
}
.boxswrap {
  top: 0%;
}
.option {
  display: flex;
}
