* {
  margin: 0;
  padding: 0;
  cursor: url(../img/cusor.ico), auto;
}
body {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/context4.jpg);
  background-size: 100%;
  background-repeat: repeat-y;
  overflow: hidden;
}
@keyframes myplane_animate {
  50% {
    filter: blur(9px);
    opacity: 0.5;
    border-radius: 50%;
    box-shadow: 0 0 40px 16px red, inset 0 0 40px 56px rgb(221, 130, 26);
  }
  from,
  to {
    filter: blur(0px);

    opacity: 1;
  }
}
.myplane_animate {
  animation: myplane_animate 0.2s linear 2 forwards;
}
.myplane {
  position: absolute;
  z-index: 2;
  top: 92%;
  left: 50%;
}
.mypd_animate {
  position: absolute;
  top: 100%;
  animation: mypd_animate 1s linear forwards;
}
@keyframes mypd_animate {
  to {
    top: 0;
    transform: translate(0, -100%);
  }
}
.enemypd_animate {
  position: absolute;
  /* top: 0%; */
  transform: rotate(180deg);
  animation: enemypd_animate 1s linear forwards;
}
@keyframes enemypd_animate {
  to {
    top: 100%;
    transform: translate(0, 100%) rotate(180deg);
  }
}
.food {
  position: absolute;
  top: 0%;
  transition-timing-function: linear;
  transform: translate(0, -100%);
}
.enemyplane {
  position: absolute;
  top: 0%;
  transition-timing-function: linear;
  transform: translate(0, -100%);
  /* animation: enemyplane 2s linear forwards; */
}
@keyframes enemyplane {
  to {
    top: 100%;
    transform: translate(0, 0%);
  }
}
.health {
  position: absolute;
  z-index: 9;
  border-radius: 3px;
  /* overflow: hidden; */
  background-color: #fff;
  width: 20%;
  top: 2%;
  height: 2vw;
  left: 10%;
}
.health::before {
  display: block;
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translate(0, -50%);
  font-weight: bold;
  color: white;
  content: 'HP:';
}
.inhealth {
  position: absolute;
  display: block;
  height: 90%;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: inherit;
  width: 100%;
  background-color: rgb(0, 255, 13);
  transition: width 0.5s;
}
.boos_health {
  position: absolute;
  top: 6%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 80vw;
  height: 2vw;
  display: none;
  background-color: #ff5807;
}
.boos_health::after {
  content: 'Boss:';
  display: block;
  color: white;
  position: absolute;
  top: 50%;
  left: -50px;
  font-weight: bold;
  transform: translate(0%, -50%);
}
.score {
  position: absolute;
  z-index: 9;
  border-radius: 3px;
  color: white;
  width: 20%;
  top: 2.5%;
  height: 2vw;
  right: 10%;
}

.game_over {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.384);
  width: 100vw;
  height: 100vh;
  line-height: 100vh;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  color: white;
  display: none;
  text-shadow: 2px 2px 1px #558ad8, -2px -2px 1px #ff5807;
}

.boss {
  width: 40%;
  position: absolute;
  left: 40%;
  top: 0;
  transform: translate(0, -100%);
  z-index: 10;
  transition-duration: 1s;
}
.boss_animate {
  animation: boss_animate 0.2s 3 forwards;
}

@keyframes boss_animate {
  0%,
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
  70%,
  30% {
    transform: translate(2%, 0);
  }

  50% {
    filter: blur(5px);
    transform: translate(-2%, 0);
    opacity: 0.9;
    border-radius: 50%;
    box-shadow: 0 0 60px 16px red, inset 0 0 40px 56px rgb(221, 130, 26);
  }
}
.dot {
  width: 3vw;
  position: absolute;
  z-index: 9;
}
