* {
  margin: 0;
  padding: 0;
  cursor: url(../img/cusor.ico), auto;
}
body {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/context4.jpg);
  background-size: 100%;
  background-repeat: repeat-y;
  overflow: hidden;
}
@keyframes myplane_animate {
  50% {
    filter: blur(9px);
    opacity: 0.5;
    border-radius: 50%;
    box-shadow: 0 0 40px 16px red, inset 0 0 40px 56px rgb(221, 130, 26);
  }
  from,
  to {
    filter: blur(0px);

    opacity: 1;
  }
}
.myplane_animate {
  animation: myplane_animate 0.2s linear 2 forwards;
}
.myplane {
  position: absolute;
  z-index: 2;
  top: 92%;
  left: 50%;
}
.mypd_animate {
  position: absolute;
  top: 100%;
  animation: mypd_animate 1s linear forwards;
}
@keyframes mypd_animate {
  to {
    top: 0;
    transform: translate(0, -100%);
  }
}
.enemypd_animate {
  position: absolute;
  /* top: 0%; */
  transform: rotate(180deg);
  animation: enemypd_animate 1s linear forwards;
}
@keyframes enemypd_animate {
  to {
    top: 100%;
    transform: translate(0, 100%) rotate(180deg);
  }
}
.food {
  position: absolute;
  top: 0%;
  transition-timing-function: linear;
  transform: translate(0, -100%);
}
.enemyplane {
  position: absolute;
  top: 0%;
  transition-timing-function: linear;
  transform: translate(0, -100%);
  /* animation: enemyplane 2s linear forwards; */
}
@keyframes enemyplane {
  to {
    top: 100%;
    transform: translate(0, 0%);
  }
}
.health {
  position: absolute;
  z-index: 9;
  border-radius: 3px;
  /* overflow: hidden; */
  background-color: #fff;
  width: 20%;
  top: 2%;
  height: 2vw;
  left: 10%;
}
.health::before {
  display: block;
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translate(0, -50%);
  font-weight: bold;
  color: white;
  content: 'HP:';
}
.inhealth {
  position: absolute;
  display: block;
  height: 90%;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: inherit;
  width: 100%;
  background-color: rgb(0, 255, 13);
  transition: width 0.5s;
}
.boos_health {
  position: absolute;
  top: 6%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 80vw;
  height: 2vw;
  display: none;
  background-color: #ff5807;
}
.boos_health::after {
  content: 'Boss:';
  display: block;
  color: white;
  position: absolute;
  top: 50%;
  left: -50px;
  font-weight: bold;
  transform: translate(0%, -50%);
}
.score {
  position: absolute;
  z-index: 9;
  border-radius: 3px;
  color: white;
  width: 20%;
  top: 2.5%;
  height: 2vw;
  right: 10%;
}

.game_over {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.384);
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: none;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.option {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  min-width: 10rem;
  padding: 2vw;
  display: flex;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.option::before {
  content: 'Game Over';
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  color: white;
  font-weight: 700;
  font-size: 50px;
  transform: translate(0, -100%);
  text-shadow: 2px 2px 1px #558ad8, -2px -2px 1px #ff5807;
}
.option::after {
  position: absolute;
  content: '';
  display: block;
  filter: blur(2px);
  top: -3vw;
  bottom: -3vw;
  left: -3vw;
  right: -3vw;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.377);
  z-index: -1;
}
.option > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 8rem;
  transition: all 0.5s;
  margin: 1vw 1vw;

  color: white;
  background-position: center center;
  background-size: 400% 400%;
  border-radius: 15px;
  letter-spacing: 2px;
  box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.144),
    inset 0 0 20px 10px rgba(255, 255, 255, 0.24);
}
.option > div:nth-child(1) {
  background-image: linear-gradient(160deg, #5cf2e8, #3399ff, #b4dff3, #5cf2e8);
}
.option > div:nth-child(2) {
  background-image: linear-gradient(160deg, #eb5c2f, #f9ca79, #fe9000, #eb5c2f);
}
.option > div:nth-child(3) {
  background-image: linear-gradient(160deg, #afeaaa, #41d3bd, #87e293, #afeaaa);
}
.option:hover > div {
  transform: translate(0, -10px) scale(0.95);

  filter: blur(9px);
}
.option > div:hover {
  transform: translate(0, -10px) scale(1.1);
  background-size: 100% 100%;
  filter: blur(0px);
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px 1px #558ad8, -2px -2px 1px #ff5807;

  /* background-size: 100% 100%; */
  /* background-image: linear-gradient(145deg, #3399ff, #96c0ce); */
}
.boss {
  width: 40%;
  position: absolute;
  left: 40%;
  top: 0;
  transform: translate(0, -100%);
  z-index: 10;
  transition-duration: 1s;
}
.boss_animate {
  animation: boss_animate 0.2s 3 forwards;
}

@keyframes boss_animate {
  0%,
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
  70%,
  30% {
    transform: translate(2%, 0);
  }

  50% {
    filter: blur(5px);
    transform: translate(-2%, 0);
    opacity: 0.9;
    border-radius: 50%;
    box-shadow: 0 0 60px 16px red, inset 0 0 40px 56px rgb(221, 130, 26);
  }
}
.dot {
  width: 3vw;
  position: absolute;
  z-index: 9;
}

.loading {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c2d4a;
  z-index: 100;
}
