/* * {
  margin: 0;
  padding: 0;
  cursor: url(../img/cusor.ico), auto;
} */
/* html {
  font-size: 24px;
} */
/* body {
  position: relative;
  height: 100vh;
  background: rgb(180, 223, 243);
} */
@media screen and (min-width: 300px) and (max-width: 500px) {
  .box {
    grid-row-gap: 7rem !important;
  }
  .option {
    flex-wrap: wrap !important;
  }
  .option > div {
    width: 18rem !important;
    height: 16rem !important;
    border-radius: 8px !important;
  }
}
@media screen and (min-width: 500px) and (max-width: 1920px) {
  .box {
    grid-template-columns: repeat(7, 2rem);
    grid-template-rows: repeat(7, 2rem);
    grid-gap: 2rem;
  }
}

.boxswrap {
  /* display: none; */
  position: absolute;
  z-index: 3;
  top: 50%;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  /* grid-template-columns: repeat(7, 2rem);
  grid-template-rows: repeat(7, 2rem); */
  grid-template-columns: repeat(7, 2rem);
  grid-template-rows: repeat(7, 2rem);
  grid-gap: 2rem;
}
.item {
  background-color: #d9d9f3;
  /* border-radius: 5px; */
  border-radius: 10px 25px 25px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.486);
  /* border-left: 0.5rem solid #fff; */
  /* border: 0.5rem solid transparent; */
  border-right: 0.5rem solid #fff;
  position: relative;
  padding-left: 2.2rem;
  transition: all 0.5s;
  /* background-image: url(../img/cusor2.ico);
  background-position: 0% 50%;
  background-repeat: no-repeat; */
}

.item::before {
  content: '. .';
  font-weight: bold;
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  left: 1.5rem;
  top: 46.2%;
  transform: translate(0, 0%) rotate(90deg);
  animation: item_animate2 1s linear infinite alternate;
}
@keyframes item_animate {
  to {
    left: 55%;
  }
}
@keyframes item_animate2 {
  from {
    top: 40.2%;
  }
  to {
    top: 52.2%;
  }
}
.item::after {
  position: absolute;
  content: '';
  /* background-color: inherit; */
  background-color: #b9edf8;
  background-image: url(../img/cusor2.ico);
  background-position: 0% 50%;
  background-repeat: no-repeat;
  width: 65%;
  height: 150%;
  display: block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.486);
  border-radius: 10px 20px 20px 10px;
  animation: steps(6) item_animate 1s infinite alternate;
}

.option {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  min-width: 10rem;
  padding: 2vw;
  display: none;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  animation-name: bounceInDown;
  animation-duration: 1s;
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(-50%, -3000px, 0) scaleY(3);
  }

  60% {
    opacity: 1;
    transform: translate3d(-50%, 55%, 0) scaleY(0.9);
  }

  75% {
    transform: translate3d(-50%, -30%, 0) scaleY(0.95);
  }

  90% {
    transform: translate3d(-50%, -54%, 20px) scaleY(0.985);
  }

  to {
    transform: translate3d(-50%, -50%, 0%);
  }
}

.option::after {
  position: absolute;
  content: '';
  display: block;
  filter: blur(2px);
  top: -3vw;
  bottom: -3vw;
  left: -3vw;
  right: -3vw;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.377);
  z-index: -1;
}
.option > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 8rem;
  height: 8rem;
  transition: all 0.5s;
  /* padding: 1vw; */
  margin: 1vw 1vw;

  color: white;
  background-position: center center;
  background-size: 400% 400%;
  /* background-size: cover; */
  border-radius: 15px;
  letter-spacing: 2px;
  box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.144),
    inset 0 0 20px 10px rgba(255, 255, 255, 0.24);

  /* animation: bgmove 5s linear infinite alternate; */
}
.option > div:nth-child(1) {
  /* background-image: linear-gradient(
    160deg,
    #5cf2e8,
    #41d3bd,
    #b4dff3,
    #3399ff,
    #5cf2e8
  ); */
  /* background-image: url('../img/option1.jpg'); */
}
.option > div:nth-child(2) {
  /* background-image: url('../img/option2.jpg'); */
  /* background-image: linear-gradient(160deg, #eb5c2f, #f9ca79, #fe9000, #eb5c2f); */
}
.option > div:nth-child(3) {
  /* background-image: url('../img/option3.jpg'); */

  /* background-image: linear-gradient(160deg, #afeaaa, #41d3bd, #87e293, #afeaaa); */
}
.option:hover > div {
  transform: translate(0, -10px) scale(0.95);

  filter: blur(9px);
}
.option > div:hover {
  transform: translate(0, -10px) scale(1.1);
  background-size: 100% 100%;
  filter: blur(0px);
  /* background-size: 100% 100%; */
  /* background-image: linear-gradient(145deg, #3399ff, #96c0ce); */
}
.option > div:hover img {
  transform: scale(2);
}
@keyframes bgmove {
  0% {
    background-position: 0% 200%;
  }
  100% {
    background-position: 200% 0%;
  }
}
.option .top {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  overflow: hidden;
  background-color: #fafafa;
  color: #3399ff;
  /* border-radius: 0 0 15px 15px; */
}
.option .top > img {
  width: 100%;
  transition: all 0.8s;
}
.option .bottom {
  text-shadow: 2px 2px 1px #558ad8, -2px -2px 1px #ff5807;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 40%;
  background-color: #fafafa;
  color: #fafafa;
  border-radius: 0 0 15px 15px;
  transition: all ease-out 0.8s;
}
.option > div:hover .bottom {
  background-color: #3a405a;
  text-shadow: 2px 2px 1px #ff7473, -2px -2px 1px #3a9ad9;
  animation: bottom_move 0.7s alternate infinite;
}
@keyframes bottom_move {
  from {
    letter-spacing: 1px;
  }
  to {
    letter-spacing: 8px;
  }
}

.time_show,
.logout {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: #dedcee;
  background-color: #fff;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  text-shadow: 1px 1px 0px #ff7473, -1px -1px 0px #3a9ad9;
}
.time_show::before,
.logout::before {
  position: absolute;
  content: '';
  padding-left: 0.2rem;
  display: flex;
  align-items: center;
  /* filter: blur(2px); */
  top: -0.5rem;
  bottom: -0.5rem;
  left: -1.5rem;
  right: -1rem;
  border-radius: 8px;
  font-size: 1rem;
  line-height: 1rem;
  background-color: rgba(255, 255, 255, 0.377);
  z-index: -1;
  /* clip-path: circle(1rem at 70%, 50%); */
}
.logout {
  top: 6rem;
}
